@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}