# Node modules
node_modules/

# Environment variables
.env

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Build output
dist/
build/

# Dependency directories
jspm_packages/
bower_components/

# Coverage reports
coverage/